html
  head 
    link(rel="stylesheet" href="/css/styles.css")
  body
    h1= showdata.title
    h2 Developed By
      ul 
      for developer in showdata.developedBy
        li= developer
    h2 Starring
      ul
      for actors in showdata.starring
        li= actors
    h2 Seasons
      ul
      for season in showdata.seasons
        li
          a(href="/seasons/" + season.number) Season #{season.number}