body {
  background-color: darkgrey;
}
h1 {
  color: maroon;
  font-size: 3em;
  text-align: center;
}

h2 {
  text-align: center;
  color: black;
}

table {
  border: 1px solid black;
  background-color: #8cbaaf;
  margin: auto;
  display: flex;
  border-collapse: collapse;
  width: 70%
}

th {
  border: 1px solid black;
}

.headnum {
  background-color: cadetblue;
}

.headtitle {
  background-color: cornflowerblue;
}

.headdirector {
  background-color: #d68b98;
}

td {
  border: 1px solid black;
}

.number {
  background-color: darkcyan;
  text-align: center;
}

.title {
  background-color: #3c83b0;
  text-align: center;
}

.director {
  background-color: #ba968f;
  text-align: center;
}

.dev {
  color: darkred;
  text-align: left;
  padding: 20px;
}

.stars {
  color: darkred;
  text-align: left;
  padding: 20px;
}

.actorlist {
  color: black;
  text-align: left;
}
.devlist {
  text-align: left;
  color: black;

}

.seasons {
  padding: 20px;
  color: darkred;
  text-align: left;
}

.seasonlist {
  color: black;
  text-align: left;
}